#jordan{
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-color: red;
}

#koby{
    color: rgb(162, 255, 0);
    background-color: rgb(237, 12, 12);
    font-size: 25px;
}

#lebron{
    color: chocolate;
    font-size: 25px;
    background-color: aqua;
}
