#ronaldo{
    color: rgb(155, 100, 255);
    font-size: 25px;
    background-color: blue;
}

#messi{
    color: rgb(#ff0000, #008000, #0000ff)
    font-size: 25px;
    background-color: brown;
}

#ronaldinho{
    color: rgb(200, 10, 50);
    font-size: 25px;
    background-color: blanchedalmond;
}
