#pl{
  color: rgb(165, 14, 90);
  background-color: rgb(75, 182, 182);
  text-shadow: 2px rgb(rgb(176, 118, 118), rgb(61, 120, 61), rgb(32, 32, 106))
}

#ga{
  color: rgb(165, 14, 90);
  background-color: rgb(45, 75, 246);
  text-shadow: 2px rgb(rgb(176, 118, 118), rgb(61, 120, 61), rgb(32, 32, 106))
}
