table {
    border-collapse: collapse;
    width: 700px;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}


th {
    background-color: #2f9fd8;
    color: white;
}


tr:nth-child {
    background-color: #f2f2f2;
}

