body{
  background: #111;
  font-family: Arial, sans-serif;
}

#card{
  width: 320px;
  background: #1c1c1c;
  border-radius: 15px;
  padding: 25px;
  margin: 60px auto;
  text-align: center;
  color: white;
}


#avatar{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url(./wall-1.svg);
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}

#name{
  margin: 0;
  font-size: 22px;
}

#location{
  margin: 8px 0 15px;
  color: #b6ff4a;
  font-size: 14px;
}

#bio{
  color: #ccc;
  font-size: 14px;
  margin-bottom: 18px;
}

/* ღილაკები */
.btn{
  display: block;
  background: #2a2a2a;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
}

.btn:hover{
  background: #3a3a3a;
}
