body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  border: 4px solid #3b82f6;
  width: 600px;
}

.grid div {
  border: 4px solid #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  height: 100px;
}
