body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    width: 800px;
    border: 4px solid #3b82f6;
}

.item {
    border: 4px solid #3b82f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.big {
    grid-column: 1 / 3;
}
