body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 700px;
  border: 3px solid #2f80ff;
}

.box {
  border: 3px solid #2f80ff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.wide {
  grid-column: span 2;
}