body {
    background: #e5e5e5;
    margin: 0;
    padding: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 150px 150px;
    gap: 20px;
}

.container div {
    background: #555;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Grid Positions */

.a {
    grid-column: 1 / 3;  
}

.b {
    grid-column: 3 / 4;   
}

.d {
    grid-column: 2 / 4;  
}

.e {
    grid-column: 1 / 4;   
}
