@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
 #h1 {
    text-shadow: 4px 5px 7px rgb(123, 224, 56);
    font-family: "Pixelify Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
 #h2 {
    text-shadow: 2px 6px 10px rgb(143, 31, 255);
    font-family: "Sixtyfour", sans-serif;
}


 #h3 {
    
    text-decoration: overline;
    text-decoration-color:rgb(243, 54, 54)
    
}



 #h4 {
    
    text-decoration-line:underline;
    text-decoration-color:rgb(12, 133, 28)
    
}

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
 #h5 {
    
    text-shadow: 2px 6px 10px rgb(13, 132, 112);
      font-family: "Jacquard 12", system-ui;
    
}