table {
    border-collapse: collapse;
    width: 700px;
    font-family: Arial, sans-serif;
    margin: 100px auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #2f9fd8;
    color: white;
    text-align: center;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input {
    width: 95%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #2f9fd8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #238ac0;
}

.center {
    text-align: center;
}
