.box {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 15px;
  color: white;
  font-family: Arial;
}



.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
  margin: 40px;
}

.box3 {
  background-color: green;
  padding: 30px;
}

.box4 {
  background-color: purple;
  margin: 10px 50px;
}

.box5 {
  background-color: orange;
  padding: 5px 25px;
}







#container {
  width: 300px;
  height: 200px;
  background-color: lightblue;
}