#jordan{

    color: azure;
    font-size: 25px;
    background-color: rgb(40, 142, 88);
    font-size: 20px;
}



#koby{

    color: rgb(0, 4, 58);
    background-color: rgb(11, 232, 33);
    font-size: 20px;
}



#lebron{

    color: beige; 
    background-color: darkviolet;
    font-size: 20px;
}
